In [ ]:
# # download data to local dir
# !wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
# !wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-19 14:47:20--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.164.82.40, 3.164.82.160, 3.164.82.112, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.164.82.40|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet’

green_tripdata_2025 100%[===================>]   1.11M  1.51MB/s    in 0.7s

2026-01-19 14:47:22 (1.51 MB/s) - ‘green_tripdata_2025-11.parquet’ saved [1164775/1164775]

--2026-01-19 14:47:22--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-19T15%3A34%3A33Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-19T14%3A34%3A00Z&ske=2026-01-19T15%3A34%3A33Z&sks=b&skv=2018-11-09&sig=Nvoldy5YZ%2B%2BeA5Gt6Rla0ynDKhA8XvCM10DBDkYtY6A%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODgzNDM0MywibmJmIjoxNzY4ODM0MDQzLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.WsMc6R0ppYfBCQ8oZ3Bj0--TOcdavbN34G3YU8Xq7vY&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-01-19 14:47:23--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-19T15%3A34%3A33Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-19T14%3A34%3A00Z&ske=2026-01-19T15%3A34%3A33Z&sks=b&skv=2018-11-09&sig=Nvoldy5YZ%2B%2BeA5Gt6Rla0ynDKhA8XvCM10DBDkYtY6A%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODgzNDM0MywibmJmIjoxNzY4ODM0MDQzLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.WsMc6R0ppYfBCQ8oZ3Bj0--TOcdavbN34G3YU8Xq7vY&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2026-01-19 14:47:23 (60.8 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# create connection to postgres
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5433/ny_taxi")
engine.connect()

In [10]:
pd.read_parquet("green_tripdata_2025-11.parquet").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46912 entries, 0 to 46911
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               46912 non-null  int32
 1   lpep_pickup_datetime   46912 non-null  datetime64[us]
 2   lpep_dropoff_datetime  46912 non-null  datetime64[us]
 3   store_and_fwd_flag     41343 non-null  object
 4   RatecodeID             41343 non-null  float64
 5   PULocationID           46912 non-null  int32
 6   DOLocationID           46912 non-null  int32
 7   passenger_count        41343 non-null  float64
 8   trip_distance          46912 non-null  float64
 9   fare_amount            46912 non-null  float64
 10  extra                  46912 non-null  float64
 11  mta_tax                46912 non-null  float64
 12  tip_amount             46912 non-null  float64
 13  tolls_amount           46912 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  46912 non-null  float64
 16  total_amount           46912 non-null  float64
 17  payment_type           41343 non-null  float64
 18  trip_type              41342 non-null  float64
 19  congestion_surcharge   41343 non-null  float64
 20  cbd_congestion_fee     46912 non-null  float64
dtypes: datetime64[us](2), float64(15), int32(3), object(1)
memory usage: 7.0+ MB

In [7]:
import pyarrow.parquet as pq

# Path to your parquet file
file_path = "green_tripdata_2025-11.parquet"

# Read only the metadata
parquet_file = pq.ParquetFile(file_path)

# Print the schema
# print(parquet_file.schema)

# If you want it as a list of field names and types:
schema_dict = parquet_file.schema_arrow
print(schema_dict)

VendorID: int32
lpep_pickup_datetime: timestamp[us]
lpep_dropoff_datetime: timestamp[us]
store_and_fwd_flag: large_string
RatecodeID: int64
PULocationID: int32
DOLocationID: int32
passenger_count: int64
trip_distance: double
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
ehail_fee: double
improvement_surcharge: double
total_amount: double
payment_type: int64
trip_type: int64
congestion_surcharge: double
cbd_congestion_fee: double

In [ ]:
# Dry run to preview the table structure
print(pd.io.sql.get_schema(pd.read_parquet("green_tripdata_2025-11.parquet"), name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [ ]:
# create table schema

file = "green_tripdata_2025-11.parquet"
file_parquet = pq.ParquetFile(file)
first_df = next(file_parquet.iter_batches(batch_size=10)).to_pandas()
first_df.head(0).to_sql(name="yellow_taxi_trips", con=engine, if_exists='replace')

0

In [21]:
# ingest data in batches

from time import time

file_parquet = pq.ParquetFile(file)
df_iter = file_parquet.iter_batches(batch_size=100000)

t_start = time()
count = 0
for batch in file_parquet.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='yellow_taxi_trips',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken      4.511 seconds.

Completed! Total time taken was      4.525 seconds for 1 batches.

In [ ]:
# CSV
df = pd.read_csv('taxi_zone_lookup.csv')
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [23]:
# preview schema
print(pd.io.sql.get_schema(df, name='taxi_zone', con=engine)) # convert dataframe to DDL format

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [24]:
# create table schema
from sqlalchemy import text

create_table_query = """
CREATE TABLE IF NOT EXISTS taxi_zone (
    "LocationID" BIGINT, 
	"Borough" TEXT, 
	"Zone" TEXT, 
	service_zone TEXT
);
"""

with engine.connect() as conn:
    conn.execute(text(create_table_query))
    conn.commit()

In [25]:
# ingest to database (small size so no need to split into batches)
df.to_sql(name='taxi_zone', con=engine, if_exists='append', index=False)

265

In [ ]:
# Question 3. Counting short trips
# For the trips in November 2025 (lpep_pickup_datetime between '2025-11-01' and '2025-12-01', exclusive of the upper bound), how many trips had a `trip_distance` of less than or equal to 1 mile?
query = f"""
    select count(*) trips_less_1mile
    from yellow_taxi_trips
    where lpep_pickup_datetime BETWEEN '2025-11-01' AND '2025-12-01'
    and trip_distance <= 1
    """
pd.read_sql(query, con=engine)

   trips_less_1mile
0              8007

In [ ]:
# Question 4. Longest trip for each day
# Which was the pick up day with the longest trip distance? Only consider trips with `trip_distance` less than 100 miles (to exclude data errors).
query = f"""
    with ranked_trips as (
        select lpep_pickup_datetime,
        trip_distance,
        rank() over (order by trip_distance DESC) rn
        from yellow_taxi_trips
        where trip_distance < 100
    )
    select * from ranked_trips
    where rn=1
"""
pd.read_sql(query, con=engine)

  lpep_pickup_datetime  trip_distance  rn
0  2025-11-14 15:36:27          88.03   1

In [28]:
# Which was the pickup zone with the largest `total_amount` (sum of all trips) on November 18th, 2025?

query = f"""
    with totalAmount as (
        select distinct
            "PULocationID",
            "Zone",
            sum(total_amount)over(partition by "Zone") as total_amount_zone
        from yellow_taxi_trips
        left join taxi_zone on "PULocationID"="LocationID"
        where DATE(lpep_pickup_datetime) = '2025-11-18'
        order by total_amount_zone DESC
        )
    select *from totalAmount 
    limit 1;
    """
pd.read_sql(query, con=engine)

   PULocationID               Zone  total_amount_zone
0            74  East Harlem North            9281.92